<h1>Bonbon's Shop</h1> <!-- Change according to your project name -->

<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>


<p>{{ product1name }}<p>
<h5>price: </h5>
<p>{{ product1price }}<p>
<h5>description: </h5>
<p>{{ product1desc }}<p>

<p>{{ product2name }}<p>
<h5>price: </h5>
<p>{{ product2price }}<p>
<h5>description: </h5>
<p>{{ product2desc }}<p>

<p>{{ product3name }}<p>
<h5>price: </h5>
<p>{{ product3price }}<p>
<h5>description: </h5>
<p>{{ product3desc }}<p>

